#whole{
    border:10px solid black;
      width:410px;
      justify-content: center;
      justify-items: center;
      margin-left:560px;
      margin-top:170px;
      background: black;
      border-radius: 10%;
    }
    
    button{
      width:88px;
      height:40px;
      margin: 5px;
      background: #f2edef;
    }
    #text{
      width: 380px;
      height: 40px;
      margin-left:10px;
      font-size: 200%;
    }
    h1,h2{
      color: #f2edef;
    }
    h2{
      margin-left: 100px;
    }